<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/material/favicon-removebg-preview1.png">
</head>

<body>

    <!-- header section starts  -->

    <header class="header">

        <section class="header-1">

            <a href="/" class="logo"> <i class="fas fa-play"></i> playbook </a>

            <form action="/searchResult" method="get" class="search-form">
                <input type="search" name="query" placeholder="search here..." id="search-box">
                <label for="search-box" class="fas fa-search" id="search-icon"></label>
                <input type="submit" style="display: none;">
            </form>

            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <% if (user) { %>
                    <% if (!user.isAdmin) { %>
                        <a href="/wishlist" class="fas fa-heart"></a>
                        <a href="/userReservations" class="fas fa-list"></a>
                    <% } else { %>
                        <a href="/dashboard" class="fas fa-tachometer"></a>
                    <% } %>
                    <a href="/myAccount" class="fas fa-user"></a>
                <%} else { %>
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-list"></a>
                    <a href="/login" class="fas fa-user"></a>
                <%} %>
            </div>


        </section>

    </header>

    <!-- header section ends -->

    <!-- all book section starts  -->

    <div class="searchcontainer">

        <section class="arrivals" id="arrivals">

            <center>
                <div id="myBtnContainer">
                    <button class="btn active" onclick="filterSelection('all')"> show all</button>
                    <% categories.forEach(category => { %>
                      <button class="btn" onclick="filterSelection('<%= category.name %>')"> <%= category.name %></button>
                    <% }) %>
                  </div>
            </center>

            <div class="allbook">
                <% books.forEach(book => { %>
                    <div class="filterDiv <%= book.category.name %>">
                        <a href="/bookDetail/<%=book.id%>" class="swiper-slide box">
                            <div class="image">
                                <img src="<%= book.bookImage %>" alt="<%= book.title %> Image">
                            </div>
                            <div class="content">
                                <h1><%= book.title %></h1>
                                <h3><%= book.category.name %></h3>
                                <div class="author"><%= book.author.name %></div>
                                <!-- <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div> -->
                            </div>
                        </a>
                    </div>
                <% }) %>
              </div>

        </section>

    </div>

    <!-- arrivals section ends -->

    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>extra links</h3>
                <a href="/information#aboutUs"> <i class="fas fa-arrow-right"></i> about us </a>
                <a href="/information#copyRight"> <i class="fas fa-arrow-right"></i> copyright </a>
                <a href="/information#privatePolicy"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                <a href="/information#paymentMethod"> <i class="fas fa-arrow-right"></i> payment method </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="https://www.facebook.com/sonnnayyyf" target="_blank"> <i class='far fa-id-badge'></i> Tran Hoang Son - s3978450 </a>
                <a href="https://www.facebook.com/profile.php?id=100011122297129" target="_blank"> <i class='far fa-id-badge'></i> To Hai Dang - s3927046 </a>
                <a href="https://www.facebook.com/tuankiet.luong.218" target="_blank"> <i class='far fa-id-badge'></i> Luong Tuan Kiet - s3980288 </a>
                <a href="https://www.facebook.com/hmy031" target="_blank"> <i class='far fa-id-badge'></i> Le Ha My - s3938177 </a>
                <a href="https://www.facebook.com/tuannguyen.nguyenha/" target="_blank"> <i class='far fa-id-badge'></i> Nguyen Ha Tuan Nguyen - s3978072 </a>
                <a href="https://www.facebook.com/nguyen.nguyenhai.10441" target="_blank"> <i class='far fa-id-badge'></i> Nguyen Hai Nguyen - s3978275 </a>
                <a href="https://www.facebook.com/profile.php?id=100014016729432" target="_blank"> <i class='far fa-id-badge'></i> Dang Quoc Thang - s3977877 </a>
            </div>

        </div>

        <div class="credit"> created by <span>Group 2</span> | all rights reserved! </div>

    </section>

    <!-- footer section ends -->

    <!-- loader  -->

    <!-- <div class="loader-container">
        <img src="image/loader.gif" alt="">
    </div> -->


    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script>
        filterSelection("all")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            c = c.toLowerCase(); // Convert the category to lower case
            for (i = 0; i < x.length; i++) {
                RemoveClass(x[i], "show");
                if (x[i].className.toLowerCase().indexOf(c) > -1) AddClass(x[i], "show"); // Convert the class names to lower case
            }
        }
    
        function AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
            }
        }
    
        function RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }
    
        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

</body>

</html>