<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playbook Online Library</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/material/favicon-removebg-preview1.png">
</head>

<body>
    <!-- header section starts  -->

    <header class="header">

        <section class="header-1">

            <a href="/" class="logo"> <i class="fas fa-play"></i> playbook </a>

            <form action="/searchResult" method="get" class="search-form">
                <input type="search" name="query" placeholder="search here..." id="search-box">
                <label for="search-box" class="fas fa-search"></label>
                <input type="submit" style="display: none;">
            </form>

            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <% if (user) { %>
                    <a href="/wishlist" class="fas fa-heart"></a>
                    <a href="/userReservations" class="fas fa-list"></a>
                    <a href="/myAccount" class="fas fa-user"></a>
                <%} else { %>
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-list"></a>
                    <a href="/login" class="fas fa-user"></a>
                <%} %>
            </div>

        </section>

        <div class="header-2">
            <nav class="navbar">
                <a href="#home">home</a>
                <a href="#featured">featured</a>
                <!-- <a href="#arrivals">arrivals</a> -->
                <a href="#reviews">reviews</a>
            </nav>
        </div>

    </header>

    <!-- header section ends -->

    <!-- bottom navbar  -->

    <nav class="bottom-navbar">
        <a href="#home" class="fas fa-home"></a>
        <a href="#featured" class="fas fa-list"></a>
        <a href="#arrivals" class="fas fa-tags"></a>
        <a href="#reviews" class="fas fa-comments"></a>
    </nav>

    <!-- home section starts  -->

    <div class="deal-container">
        <section class="deal" id="deal">
            <div class="image">
                <img src="<%= book.bookImage %>" alt="<%= book.title %>" />
            </div>

            <div class="content">
                <h3>Category: <%= book.category.name %></h3>
                <h1><%= book.title %></h1>
                <h2>By: <%= book.author.name %></h2>
                <h2>Publisher: <%= book.publisher.name %></h2>
                <p>
                    <%= book.description %>
                </p>
                <div id="readerview">
                    <% if (user.isAdmin) { %>
                        <div id="libview">
                            <div id="bookmenu-btn">update book</div>
                        </div>
                    <% } else { %>
                    <a href="#" class="btn">add to rentlist / check availability</a>
                    <% const isBookInWishlist=user && user.favoriteBook.includes(book._id); %>
                    <% if (user) { %>
                        <% if(!isBookInWishlist) { %>
                            <form id="mainbook" method="post" class="wishlist-form" data-action="/addToWishlist" data-book-id="<%= book._id %>">
                                <a href="#" class="btn">
                                    <span>
                                        Add to Wishlist
                                    </span>
                                </a>
                            </form>
                        <% } else { %>
                            <form id="mainbook" method="post" class="wishlist-form" data-action="/removeFromWishlist" data-book-id="<%= book._id %>">
                                <a href="#" class="btn">
                                    <span>
                                        Remove from Wishlist
                                    </span>
                                </a>
                            </form>
                        <% } %>
                    <% } %>
                    <% } %>
                </div>            

                <div class="bookmenu-form-container">

                    <div id="close-bookmenu-btn" class="fas fa-times"></div>
            
                    <form method="post" id="detailUpdate" action="/updateBookDetail/<%= book._id %>">
                        <h3>update book detail</h3>
                        
                        <span>ISBN</span>
                        <input type="text" name="ISBN" class="box" value="<%= book.ISBN %>" id="ISBN" required>
                        <div class="ISBN error"></div>
                        
                        <span>book title</span>
                        <input type="text" name="title" class="box" value="<%= book.title %>" id="title" required>
                        <div class="title error"></div>
                        
                        <span>details</span>
                        <div>
                            <select class="box" id="author" name="author">
                                <% authors.forEach(author => { %>
                                    <option value="<%= author._id %>" name="<%= author._id %>" <%= book.author && book.author._id.toString() === author._id.toString() ? 'selected' : '' %>><%= author.name %></option>
                                <% }); %>
                            </select>
                            <div class="author error"></div>
                        </div>
                        
            
                        <div>
                            <select class="box" id="category" name="category">
                                <% categories.forEach(category => { %>
                                    <option value="<%= category._id %>" name="<%= category._id %>" <%= book.category && book.category._id.toString() === category._id.toString() ? 'selected' : '' %>><%= category.name %></option>
                                <% }); %>
                            </select>
                            <div class="category error"></div>
                        </div>
                        
            
                        <div>
                            <select class="box" id="publisher" name="publisher">
                                <% publishers.forEach(publisher => { %>
                                    <option value="<%= publisher._id %>" name="<%= publisher._id %>" <%= book.publisher && book.publisher._id.toString() === publisher._id.toString() ? 'selected' : '' %>><%= publisher.name %></option>
                                <% }); %>
                            </select>
                            <div class="publisher error"></div>
                        </div>
                        
                        <span>number of book</span>
                        <input type="number" name="bookCountAvailable" class="box" value="<%= book.bookCountAvailable %>" id="bookCountAvailable" required>
                        <div class="bookCountAvailable error"></div>

                        <span>number of pages</span>
                        <input type="number" name="numberOfPages" class="box" value="<%= book.numberOfPages %>" id="numberOfPages" required>
                        <div class="numberOfPages error"></div>

                        <span>description</span>
                        <textarea name="description" id="description" rows="4" cols="40" class="box"><%= book.description %></textarea>
                        <div class="description error"></div>
                        <input type="submit" value="Update" class="btn">
            
                    </form>
                    <form method="post" id="imgUpdate" action="/updateBookImage/<%= book._id %>">
                        <h3>Update Book Image</h3>
                        <img src="<%= book.bookImage %>" alt="<%= book.title %>" style="aspect-ratio: 1/1; object-fit: cover; width: 30vmin;"/>
                        <input type="file" name="bookImage" value="<%= book.bookImage %>" class="account-settings-fileinput box" accept="image/*">
                        <div class="bookImage error"></div>
                        <span>If you Update the image without selected one, the book Image will be return to the default Image.</span>
                        <input type="submit" value="Update" class="btn">
                    </form>
                </div>
                
            </div>
        </section>
    </div>

    <!-- home section end  -->

    <!-- reviews section starts  -->

    <section class="reviews" id="reviews">
        <h1 class="heading"><span>reader's reviews</span></h1>

        <div class="swiper reviews-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="" alt="Son's photo" />
                    <h3>Tran Hoang Son</h3>
                    <p>review here</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="Kiet's photo" />
                    <h3>Luong Tuan Kiet</h3>
                    <p>review here</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="HNguyen's photo" />
                    <h3>Nguyen Hai Nguyen</h3>
                    <p>review here</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <img src="" alt="TNguyen's photo" />
                    <h3>Nguyen Hai Tuan Nguyen</h3>
                    <p>review here</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="My's photo" />
                    <h3>Le Ha My</h3>
                    <p>review here</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="Thang's photo" />
                    <h3>Dang Quoc Thang</h3>
                    <p>review here</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="Dang's photo" />
                    <h3>To Hai Dang</h3>
                    <p>review here</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- reviews section ends -->

    <!-- footer section starts  -->

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>extra links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> about us </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> copyright </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#">
                    <i class="far fa-id-badge"></i> Tran Hoang Son - s3978450
                </a>
                <a href="#">
                    <i class="far fa-id-badge"></i> To Hai Dang - s3927046
                </a>
                <a href="#">
                    <i class="far fa-id-badge"></i> Luong Tuan Kiet - s3980288
                </a>
                <a href="#"> <i class="far fa-id-badge"></i> Le Ha My - s3938177 </a>
                <a href="#">
                    <i class="far fa-id-badge"></i> Nguyen Ha Tuan Nguyen - s3978072
                </a>
                <a href="#">
                    <i class="far fa-id-badge"></i> Nguyen Hai Nguyen - s3978275
                </a>
                <a href="#">
                    <i class="far fa-id-badge"></i> Dang Quoc Thang - s3977877
                </a>
            </div>
        </div>

        <div class="credit">
            created by <span>Group 2</span> | all rights reserved!
        </div>
    </section>

    <!-- footer section ends -->

    <!-- loader  -->

    <!-- <div class="loader-container">
        <img src="/images/material/loader.gif" alt="" />
    </div> -->

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/script.js"></script>
</body>

<!-- script for update book detail and img -->
<script>
window.addEventListener('DOMContentLoaded', (event) => {
    const detailUpdate = document.querySelector('#detailUpdate');
    const imageUpdate = document.querySelector('#imgUpdate');
    // read the error
    const ISBNError = document.querySelector('.ISBN.error');
    const authorError = document.querySelector('.author.error');
    const categoryError = document.querySelector('.category.error');
    const publisherError = document.querySelector('.publisher.error');
    const descriptionError = document.querySelector('.description.error');
    const bookImageError = document.querySelector('.bookImage.error');

    detailUpdate.addEventListener('submit', async (e) => {
        e.preventDefault();
        // reset errors
        ISBNError.textContent = '';
        authorError.textContent = '';
        categoryError.textContent = '';
        publisherError.textContent = '';
        descriptionError.textContent = '';

        // Create a JSON object
        const formData = {
            'ISBN': detailUpdate.ISBN.value,
            'title': detailUpdate.title.value,
            'numberOfPages': detailUpdate.numberOfPages.value,
            'author': detailUpdate.author.value,
            'category': detailUpdate.category.value,
            'publisher': detailUpdate.publisher.value,
            'bookCountAvailable': detailUpdate.bookCountAvailable.value,
            'description': detailUpdate.description.value
        };
        console.log(formData);

        try{
            const id = '<%= book._id %>'
            const res = await fetch(`/updateBookDetail/${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData), // Send the JSON data
            });
            const data = await res.json();
            console.log(data);

            if (data.errors){
                ISBNError.textContent = ('This ISBN is already registered');
            }
            else{
                descriptionError.textContent = ('Updated successfully');
                window.location.reload(); // Reload the webpage
            }
        }
        catch (err){
            console.log(err);
        }
    });
    imageUpdate.addEventListener('submit', async (e) => {
        e.preventDefault();
        // reset errors
        bookImageError.textContent = '';
        // Create a FormData instance
        const formData = new FormData();
        formData.append('bookImage', imageUpdate.bookImage.files[0]);
        console.log(formData);
        
        try{
            const id = '<%= book._id %>'
            const res = await fetch(`/updateBookImage/${id}`, {
                method: 'POST',
                body: formData, // Send the form data
            });
            const data = await res.json();
            console.log(data);

            if (data.errors){
                bookImageError.textContent = ('An error occure, please try again');
            }
            else{
                bookImageError.textContent = ('Updated successfully');
                window.location.reload(); // Reload the webpage
            }
        }
        catch (err){
            console.log(err);
        }
    });
});
</script>

<!-- script section for wishlist function -->
<script>
    const mainbook = document.querySelectorAll('#mainbook');
    document.addEventListener('DOMContentLoaded', () => {
    const handleFormSubmission = async (mainbook, action) => {
        const bookId = mainbook.dataset.bookId;
        const isAddAction = action === '/addToWishlist';

        try {
            const res = await fetch(action, {
                method: 'POST',
                body: JSON.stringify({ bookId }),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await res.json();

            if (data.errors) {
                alert(data.errors);
            } else {
                // Update the UI
                const link = mainbook.querySelector('a');
                if (isAddAction) {
                    link.textContent = 'Remove from Wishlist';
                    mainbook.dataset.action = '/removeFromWishlist';
                } else {
                    link.textContent = 'Add to Wishlist';
                    mainbook.dataset.action = '/addToWishlist';
                }
                // Remove the old event listener and add a new one
                mainbook.removeEventListener('click', handleFormClick);
                mainbook.addEventListener('click', handleFormClick);
            }
        } catch (err) { 
            console.log(err);
        }
    };

    const forms = document.querySelectorAll('.wishlist-form, .unwishlist-form');
    forms.forEach(form => {
        form.addEventListener('click', (event) => {
            event.preventDefault();
            const action = form.dataset.action;
            handleFormSubmission(form, action);
            });
        });
    });
</script>


</html>