<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/material/favicon-removebg-preview1.png">

</head>

<body>
    <header class="header">

        <section class="header-1">

            <a href="/" class="logo"> <i class="fas fa-play"></i> playbook </a>

            <form action="/searchResult" method="get" class="search-form">
                <input type="search" name="query" placeholder="search here..." id="search-box">
                <label for="search-box" class="fas fa-search" id="search-icon"></label>
                <input type="submit" style="display: none;">
            </form>

            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <% if (user) { %>
                    <% if (!user.isAdmin) { %>
                        <a href="/wishlist" class="fas fa-heart"></a>
                        <a href="/userReservations" class="fas fa-list"></a>
                    <% } else { %>
                        <a href="/dashboard" class="fas fa-tachometer-alt"></a>
                    <% } %>
                    <a href="/myAccount" class="fas fa-user"></a>
                <%} else { %>
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-list"></a>
                    <a href="/login" class="fas fa-user"></a>
                <%} %>
            </div>


        </section>

    </header>

    <!-- header section ends -->

    <!-- bottom navbar  -->
    <div class="main-part">
        <div class="page-name">Dashboard</div>
        <div id="top-row">
            <div class="top-box" id="box-1">
                <div class="content-container">
                    <div class="box-label-container">
                        <div class="number">Total Book</div>
                        <div class="label">Count of total book available.</div>
                    </div>
                    <div class="box-content">
                        <div> <%= bookCount %></div>
                    </div>
                </div>
            </div>
            <div class="top-box" id="box-2">
                <div class="content-container">
                    <div class="box-label-container">
                        <div class="number">Active Transaction</div>
                        <div class="label">Count of total active transaction.</div>
                    </div>
                    <div class="box-content">
                        <div> <%= activeTransactionCount %></div>
                    </div>
                </div>
            </div>
            <div class="top-box" id="box-3">
                <div class="content-container">
                    <div class="box-label-container">
                        <div class="number">Pending Transaction</div>
                        <div class="label">Count of total pending transaction.</div>
                    </div>
                    <div class="box-content">
                        <div> <%= pendingTransactionCount %></div>
                    </div>
                </div>
            </div>
            <div class="top-box" id="box-4">
                <div class="content-container">
                    <div class="box-label-container">
                        <div class="number">Total User</div>
                        <div class="label">Count of total user.</div>
                    </div>
                    <div class="box-content">
                        <div> <%= userCount %> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-row">
            <div class="bottom-box" id="box-5">
                <div class="content-container">
                    <div class="box-label-container">
                        <div class="number">Transaction</div>
                        <div class="label">Transaction by Month</div>
                    </div>
                    <div class="box-content">
                        <canvas id="chartCanvas"></canvas>
                    </div>
                </div>
            </div>

            <div class="bottom-box" id="box-6">
                <div class="content-container">
                    <div class="box-label-container">
                        <div class="number">Overdue</div>
                        <!-- <div class="label">Overdue Book</div> -->
                    </div>
                    <div class="box-content">
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Book</th>
                                    <th>Day Overdue</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% allOverdueTransactions.forEach(function(transaction){ %>
                                <tr>
                                    <td><%= transaction.userName %></td>
                                    <td><%= transaction.bookTitle %></td>
                                    <td><%= transaction.dayOverdue %></td>
                                </tr>
                            </tbody>
                            <% }) %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section  -->
    <footer>
        <section class="footer">
            <div class="credit"> created by <span>Group 2</span> | all rights reserved! </div>
        </section>
    </footer>
</body>
<script src="/js/dashboard.js"></script>
<script src="https://kit.fontawesome.com/120cd899b7.js" crossorigin="anonymous"></script>
<!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Get the data from the server
    const monthCounts = JSON.parse('<%- JSON.stringify(monthCounts) %>');
    console.log(monthCounts);

    // Prepare the labels for the chart
    const labels = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    // Get the canvas element
    const chartCanvas = document.getElementById('chartCanvas').getContext('2d');

    // Create the line chart
    const myLineChart = new Chart(chartCanvas, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Transactions',
                data: monthCounts,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        },
    });
</script>

</html>