<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <title>OLS</title>
</head>
<%- include('partials/header'); -%>
    <header>
        <div class="p-3 text-center bg-white border-bottom">
            <div class="container">
                <div class="row gy-3">
                    <!-- Left elements -->
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <a href="#" class="float-start">
                            <img src="\Assets\Images\Logo.png" id="Logo">
                        </a>
                    </div>
                    <!-- Left elements -->

                    <!-- Center elements -->
                    <div class="col-lg-4 col-md-6 col-sm-0">
                        <div class="input-group d-flex justify-content-center">
                            <div class="form-outline w-75">
                                <input type="search" id="form1" class="form-control float" placeholder="Search">
                            </div>
                            <button type="button" class="btn btn-success shadow-0">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Center elements -->

                    <!-- Right elements -->
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <ul>
                            <% if (user) {%>
                                <li> Welcome, <%= user.email %>
                                </li>
                                <li> <a href='/logout'>Logout</a></li>
                                <%} else {%>
                                    <li><a href='/login'>Login</a></li>
                                    <li><a href='/signup'>Sign up</a></li>
                                    <%}; %>
                        </ul>
                    </div>
                    <!-- Right elements -->
                </div>

            </div>

        </section>

    </div>

    <!-- home section ense  -->

    <!-- icons section starts  -->

    <section class="icons-container">

        <div class="icons">
            <i class="fas fa-lock"></i>
            <div class="content">
                <h3>secure payment</h3>
                <p>authorized payment message</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-redo-alt"></i>
            <div class="content">
                <h3>easy returns</h3>
                <p>10 days returns</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>24/7 support</h3>
                <p>call us anytime</p>
            </div>
        </div>

    </section>

    <!-- body starts here -->

    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Others</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Others</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h1>Book List</h1>



        <div class="row justify-content-start g-3">
            <% books.slice().reverse().forEach(book=> { %>
                <% const isBookInWishlist=user && user.favoriteBook.includes(book._id); %>

                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                        <div class="card px-3">
                            <a href="/bookDetail/<%= book._id %>">
                                <!-- Assuming you have an image property for books -->
                                <img src="<%= book.bookImage %>" alt="<%= book.title %>" class="ratio ratio-1x1" />
                            </a>
                            <div class="card-body text-center">
                                <h4 class="card-title overflow-hidden">
                                    <%= book.title %>
                                </h4>
                                <p class="lead card-subtitle">
                                    <%= book.author %>
                                </p>
                                <p class="display-5 my-4 text-muted fw-bold">$<%= book.price %>
                                </p>
                                <% if (user) { %>
                                    <% if (!isBookInWishlist) { %>
                                        <form method="post" class="wishlist-form" data-action="/addToWishlist" data-book-id="<%= book._id %>">
                                            <button type="button" class="btn btn-outline-dark btn-lg my-2 rounded-pill">
                                                Add to Wishlist
                                            </button>
                                        </form>
                                    <% } else { %>
                                        <form method="post" class="wishlist-form" data-action="/removeFromWishlist" data-book-id="<%= book._id %>">
                                            <button type="button" class="btn btn-outline-dark btn-lg my-2 rounded-pill">
                                                Remove from Wishlist
                                            </button>
                                        </form>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- reviews section ends -->

    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>extra links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> about us </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> copyright </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class='far fa-id-badge'></i> Tran Hoang Son - s3978450 </a>
                <a href="#"> <i class='far fa-id-badge'></i> To Hai Dang - s3927046 </a>
                <a href="#"> <i class='far fa-id-badge'></i> Luong Tuan Kiet - s3980288 </a>
                <a href="#"> <i class='far fa-id-badge'></i> Le Ha My - s3938177 </a>
                <a href="#"> <i class='far fa-id-badge'></i> Nguyen Ha Tuan Nguyen - s3978072 </a>
                <a href="#"> <i class='far fa-id-badge'></i> Nguyen Hai Nguyen - s3978275 </a>
                <a href="#"> <i class='far fa-id-badge'></i> Dang Quoc Thang - s3977877
                </a>
            </div>

        </div>

        <div class="credit"> created by <span>Group 2</span> | all rights reserved! </div>

    </section>

    <!-- footer section ends -->

    <!-- loader  -->

    <!-- <div class="loader-container">
        <img src="image/loader.gif" alt="">
    </div> -->


    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>

</body>

<!-- script section for wishlist function -->
<script>
    const mainbook = document.querySelectorAll('#mainbook');
    document.addEventListener('DOMContentLoaded', () => {
    const handleFormSubmission = async (mainbook, action) => {
        const bookId = mainbook.dataset.bookId;
        const isAddAction = action === '/addToWishlist';

        try {
            const res = await fetch(action, {
                method: 'POST',
                body: JSON.stringify({ bookId }),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await res.json();

            if (data.errors) {
                alert(data.errors);
            } else {
                // Update the UI
                const link = mainbook.querySelector('a');
                if (isAddAction) {
                    link.textContent = 'Remove from Wishlist';
                    mainbook.dataset.action = '/removeFromWishlist';
                } else {
                    link.textContent = 'Add to Wishlist';
                    mainbook.dataset.action = '/addToWishlist';
                }
                // Remove the old event listener and add a new one
                mainbook.removeEventListener('click', handleFormClick);
                mainbook.addEventListener('click', handleFormClick);
            }
        } catch (err) { 
            console.log(err);
        }
    };

    const forms = document.querySelectorAll('.wishlist-form, .unwishlist-form');
    forms.forEach(form => {
        form.addEventListener('click', (event) => {
            event.preventDefault();
            const action = form.dataset.action;
            handleFormSubmission(form, action);
            });
        });
    });
    </script>

<!-- script section for add book function -->
<script>
    const addbook = document.querySelector('#addbook');
    const ISBNError = document.querySelector('.ISBN.error');
    const authorError = document.querySelector('.author.error');
    const categoryError = document.querySelector('.category.error');
    const publisherError = document.querySelector('.publisher.error');
    const descriptionError = document.querySelector('.description.error');

    addbook.addEventListener('submit', async (e) => {
        e.preventDefault();
        // reset errors
        ISBNError.textContent = '';
        authorError.textContent = '';
        categoryError.textContent = '';
        publisherError.textContent = '';
        descriptionError.textContent = '';
        const authorSelect = document.querySelector('#author');
        if (authorSelect.value === 'none') {
            authorError.textContent = 'Please select an author';
            return;
        }
        const categorySelect = document.querySelector('#category');
        if (categorySelect.value === 'none') {
            categoryError.textContent = 'Please select a category';
            return;
        }
        const publisherSelect = document.querySelector('#publisher');
        if (publisherSelect.value === 'none') {
            publisherError.textContent = 'Please select a publisher';
            return;
        }
        // Create a FormData instance
        const formData = new FormData();
        formData.append('ISBN', addbook.ISBN.value);
        formData.append('title', addbook.title.value);
        formData.append('numberOfPages', addbook.numberOfPages.value);
        formData.append('author', addbook.author.value);
        formData.append('category', addbook.category.value);
        formData.append('publisher', addbook.publisher.value);
        formData.append('bookCountAvailable', addbook.bookCountAvailable.value);
        formData.append('description', addbook.description.value);
        if (addbook.bookImage.files.length > 0) {
          formData.append('bookImage', addbook.bookImage.files[0]);
        }

        console.log(formData);
        try{
            const res = await fetch('/addbook', {
                method: 'POST',
                body: formData, // Send the addbook data
            });
            const data = await res.json();
            console.log(data);

            if (data.error) {
                ISBNError.textContent = ('This ISBN is already registered');
            }else{
                descriptionError.textContent = ('Added successfully');
            }
        }
        catch (err){
            console.log(err);
        }
    });
</script>

</html>