<%- include('partials/header'); -%>
<!-- <form method="post" action="/updateBook/<%= book._id %>">
    <h2>Add Book</h2>
    <label for="bookImage">Book Image</label>
    <input type="file" name="bookImage"/>
    <div class="bookImage error"></div>

    <lable for="ISBN">ISBN</lable>
    <input type="text" name="ISBN" value="<%= book.ISBN %>"/>
    <div class="ISBN error"></div>

    <lable for="title">title</lable>
    <input type="text" name="title" value="<%= book.title %>"/>
    <div class="title error"></div>

    <lable for="numberOfPages">Number Of Pages</lable>
    <input type="number" name="numberOfPages" value="<%= book.numberOfPages %>"/>
    <div class="numberOfPages error"></div>

    <label for="author">Select an Author:</label>
    <select id="author" name="author">
      <% authors.forEach(author => { %>
        <option value="<%= author._id %>" name="author" <%= book.author && book.author._id.toString() === author._id.toString() ? 'selected' : '' %>><%= author.name %></option>
      <% }); %>
    </select>
    <div class="author error"></div>
    
    <label for="category">Select a Category:</label>
    <select id="category" name="category">
      <% categories.forEach(category => { %>
        <option value="<%= category._id %>" name="category" <%= book.category && book.category._id.toString() === category._id.toString() ? 'selected' : '' %>><%= category.name %></option>
      <% }); %>
    </select>
    <div class="category error"></div>

    <label for="publisher">Select a Publisher:</label>
    <select id="publisher" name="publisher">
      <% publishers.forEach(publisher => { %>
        <option value="<%= publisher._id %>" name="publisher" <%= book.publisher && book.publisher._id.toString() === publisher._id.toString() ? 'selected' : '' %>><%= publisher.name %></option>
      <% }); %>
    </select>
    <div class="publisher error"></div>

    <lable for="bookCountAvailable">Number of Book</lable>
    <input type="number" id="bookCountAvailable" name="bookCountAvailable" value="<%= book.bookCountAvailable %>"/>
    <div class="bookCountAvailable error"></div>

    <lable for="description">Description</lable>
    <textarea name="description" id="description" rows="5" cols="40"><%= book.description %></textarea>
    <div class="description error"></div>

    <button type="submit">Update</button>
</form>

  <script>
    const form = document.querySelector('form');
    // read the error
    const ISBNError = document.querySelector('.ISBN.error');
    const titleError = document.querySelector('.title.error');
    const numberOfPagesError = document.querySelector('.numberOfPages.error');
    const bookCountAvailableError = document.querySelector('.bookCountAvailable.error');
    const descriptionError = document.querySelector('.description.error');
    const bookImageError = document.querySelector('.bookImage.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        //reset errors
        ISBNError.textContent = '';
        titleError.textContent = '';
        numberOfPagesError.textContent = '';
        bookCountAvailableError.textContent = '';
        descriptionError.textContent = '';
        bookImageError.textContent = '';

        // Create a FormData instance
        const formData = new FormData();
        formData.append('ISBN', form.ISBN.value);
        formData.append('title', form.title.value);
        formData.append('numberOfPages', form.numberOfPages.value);
        formData.append('author', form.author.value);
        formData.append('category', form.category.value);
        formData.append('publisher', form.publisher.value);
        formData.append('bookCountAvailable', form.bookCountAvailable.value);
        formData.append('description', form.description.value);
        if (form.bookImage.files.length > 0) {
          formData.append('bookImage', form.bookImage.files[0]);
        }

        console.log(formData);
        
        try{
            const id = '<%= book._id %>'
            const res = await fetch(`/updatebook/${id}`, {
                method: 'POST',
                body: formData, // Send the form data
            });
            const data = await res.json();
            console.log(data);

            if (data.errors){
                ISBNError.textContent = data.errors.ISBN;
                titleError.textContent = data.errors.titleError;
                numberOfPagesError.textContent = data.errors.numberOfPages;
                bookCountAvailableError.textContent = data.errors.bookCountAvailable;
                descriptionError.textContent = data.errors.description;
                bookImageError.textContent = data.errors.bookImage;
            }
            else{
                descriptionError.textContent = ('Added successfully');
            }
        }
        catch (err){
            console.log(err);
        }
    });
</script> -->

<form method="post" id="detailUpdate" action="/updateBookDetail/<%= book._id %>">
  <h3>update book detail</h3>
  
  <span>ISBN</span>
  <input type="text" name="ISBN" class="box" value="<%= book.ISBN %>" id="ISBN" required>
  <div class="ISBN error"></div>
  
  <span>book title</span>
  <input type="text" name="title" class="box" value="<%= book.title %>" id="title" required>
  <div class="title error"></div>
  
  <span>details</span>
  <div>
      <select class="box" id="author" name="author">
          <% authors.forEach(author => { %>
              <option value="<%= author._id %>" name="<%= author._id %>" <%= book.author && book.author._id.toString() === author._id.toString() ? 'selected' : '' %>><%= author.name %></option>
          <% }); %>
      </select>
      <div class="author error"></div>
  </div>
  

  <div>
      <select class="box" id="category" name="category">
          <% categories.forEach(category => { %>
              <option value="<%= category._id %>" name="<%= category._id %>" <%= book.category && book.category._id.toString() === category._id.toString() ? 'selected' : '' %>><%= category.name %></option>
          <% }); %>
      </select>
      <div class="category error"></div>
  </div>
  

  <div>
      <select class="box" id="publisher" name="publisher">
          <% publishers.forEach(publisher => { %>
              <option value="<%= publisher._id %>" name="<%= publisher._id %>" <%= book.publisher && book.publisher._id.toString() === publisher._id.toString() ? 'selected' : '' %>><%= publisher.name %></option>
          <% }); %>
      </select>
      <div class="publisher error"></div>
  </div>
  
  <span>number of book</span>
  <input type="number" name="bookCountAvailable" class="box" value="<%= book.bookCountAvailable %>" id="bookCountAvailable" required>
  <div class="bookCountAvailable error"></div>

  <span>number of pages</span>
  <input type="number" name="numberOfPages" class="box" value="<%= book.numberOfPages %>" id="numberOfPages" required>
  <div class="numberOfPages error"></div>

  <span>description</span>
  <textarea name="description" id="description" rows="4" cols="40" class="box"><%= book.description %></textarea>
  <div class="description error"></div>
  <input type="submit" value="submit" class="btn">

</form>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
      const detailUpdate = document.querySelector('#detailUpdate');
      const imageUpdate = document.querySelector('#imgUpdate');
      // read the error
      const ISBNError = document.querySelector('.ISBN.error');
      const authorError = document.querySelector('.author.error');
      const categoryError = document.querySelector('.category.error');
      const publisherError = document.querySelector('.publisher.error');
      const descriptionError = document.querySelector('.description.error');
      const bookImageError = document.querySelector('.bookImage.error');
  
      detailUpdate.addEventListener('submit', async (e) => {
        e.preventDefault();
        // reset errors
        ISBNError.textContent = '';
        authorError.textContent = '';
        categoryError.textContent = '';
        publisherError.textContent = '';
        descriptionError.textContent = '';

        // Create a JSON object
        const formData = {
            'ISBN': detailUpdate.ISBN.value,
            'title': detailUpdate.title.value,
            'numberOfPages': detailUpdate.numberOfPages.value,
            'author': detailUpdate.author.value,
            'category': detailUpdate.category.value,
            'publisher': detailUpdate.publisher.value,
            'bookCountAvailable': detailUpdate.bookCountAvailable.value,
            'description': detailUpdate.description.value
        };
        console.log(formData);

        try{
            const id = '<%= book._id %>'
            const res = await fetch(`/updateBookDetail/${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData), // Send the JSON data
            });
            const data = await res.json();
            console.log(data);

            if (data.errors){
                ISBNError.textContent = ('This ISBN is already registered');
            }
            else{
                descriptionError.textContent = ('Added successfully');
            }
        }
        catch (err){
            console.log(err);
        }
    });
  });
</script>
<%- include('partials/footer'); -%>