<%- include('partials/header'); -%>

<h1><%= user.email %> Reservations</h1>
<h1>Current Reservation</h1>
<table>
    <thead>
      <tr>
        <th>Book</th>
        <th>Status</th>
        <th>Pick Up Date</th>
        <th>Return Date</th>
        <th>Fine</th>
      </tr>
    </thead>
    <tbody>
      <% allActiveTransactions.forEach((transaction) => { %>
          <tr>
            <td><%= transaction.bookTitle %></td>
            <td><%= transaction.status %></td>
            <td><%= new Date(transaction.pickUpDate).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></td>
            <td><%= new Date(transaction.returnDate).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></td>
            <td><%= transaction.fine %> $</td>
          </tr>
      <% }); %>
    </tbody>
</table>
<h1>Past Reservations</h1>
<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Status</th>
      <th>Pick Up Date</th>
      <th>Return Date</th>
      <th>Fine</th>
    </tr>
  </thead>
  <tbody>
    <% allPrevTransactions.forEach(async (transaction) => { %>
          <tr>
            <td><%= transaction.bookTitle %></td>
            <td><%= transaction.status %></td>
            <td><%= new Date(transaction.pickUpDate).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></td>
            <td><%= new Date(transaction.returnDate).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></td>
            <td><%= transaction.fine %> $</td>
          </tr>
  <% }); %>
  </tbody>
</table>
<script>
  if (!sessionStorage.getItem('reloaded')) {
    sessionStorage.setItem('reloaded', 'true');
    window.location.reload();
  } else {
    sessionStorage.removeItem('reloaded');
  }
</script>